.page-header {
  color: $body-color;
  background: white;
}
.page-header__top-content {
  padding-top: 40px;
  background: $header-bg;
}
.page-header  .container {
  @include container;
  @include clearfix;
  padding-bottom: 65px;
}
.page-header__logo-block {
  float: left;
  padding-top: 25px;
}
.page-header__logo-block img {
  display: inline-block;
  margin-right: 5px;
  padding: 0;
  width: 100px;
  height: 100px;
}
.page-header__logo-title {
  display: inline-block;
  width: 170px;
  margin: 0;
  padding: 0;
  padding-top: 9px;
  vertical-align: top;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}
.page-header__logo-title span {
  display: inline-block;
  padding-top: 15px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  text-transform: none;

}
.page-header__contacts {
  float: right;
  @include clearfix;
}
.page-header__tel {
  display: block;
  font-size: 40px;
  line-height: 46px;
  color: $body-color;

  text-decoration: none;
}
.page-header__feedback {
  float: right;
  display: inline-block;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: $body-color;
  text-align: right;
  text-decoration: none;
  border-bottom: 3px dotted $body-color;
}
