.page-footer {
  padding: 50px 0;
  font-size: 14px;
  line-height: 22px;
  background: #767676;
  color: white;
  font-family: "PT Sans", sans-serif;
}
.container {
  @include container;
  @include clearfix;
}
.page-footer__info-block{
  float: left;
  margin-right: 150px;
}
.page-footer__info-block p {
  margin: 0;
  padding: 0;
}
.page-footer__info-block a {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}
.page-footer__menu {
  float: left;
}
.page-footer__menu-list {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.page-footer__menu-list li {
  list-style: none;
  font-size: 14px;
  line-height: 26px;
}
.page-footer__menu-list a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}
.page-footer__menu-list a:hover {
  border-bottom: none;
}
